<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Trabalho 2º Trimestre - TCC</title>
    </head>
    <body>

    <!-- Container da página inteira -->
        <div id="grid">

    <!-- Cabeçalho, contém o banner -->
            <header class="cabecalho-pagina constante">
                <div class="banner-img">
                    <figure>
                        <img src="banner.png" alt="banner" width="100%">
                    </figure>
                </div>
        
            </header>
            
    <!-- Aside, contém menu lateral -->
            <aside class="constante">
                <nav >
                    <ul>
                        <li class="texto-escuro menu"><img src="homeIcon.jpg" height="30" width="30">
                        <a class="active" href="index.html">Início</a></li>
                    
                        <li class="texto-escuro menu"><img src="userIcon.jpg" height="30" width="30">
                        <a href="logInAluno/formularioLogin.html" >Login</a></li>

                        <li class="texto-escuro menu"><img src="cadastroUserIcon.jpg" height="30" width="30">
                        <a href="cadAluno/formularioCadastroAluno.html" >Cadastro de aluno</a></li>

                        <li class="texto-escuro menu"><img src="maisIcon.jpg"height="30" width="30">
                        <a href="cadTrabalho/formularioCadastrarTrabalho.html" >Cadastro de Trabalho</a></li>
                    </ul>
                </nav>
            </aside>
    <!--Main, conteudo principal, específico a cada página-->    
            <main>
                <div class="main-pagina principal">

                    <fieldset class="institucional principal">
                        <section id="bloco1">
                            <article id="bloco1">
                                <h2>resumo do trabalho de conclusão de curso...</h2>
                            </article>
                        </section>
            
                        <section id="bloco2">
                            <article id="bloco2">
                                <h2>resumo do sistema</h2>
                                <p>O trabalho se trata de um sistema para controle de defesas de Trabalhos de Conclusão de Curso (TCC), <br>
                                onde é possível armazenar, avaliar, listar, editar informações do TCC, ver seu status de avaliação, checar orientadores<br>
                                e orientandos.</p>
                            </article>
                        </section>
        
                        <section id="bloco3">
                            <article id="bloco3">
                                <h2> Funcionalidades </h2>
                                <ol>
                                    <li>Cadastrar usuário</li>
                                    <li>Logar com usuário</li>
                                    <li>Deslogar</li>
                                    <li>Enviar tcc</li>
                                    <li>Editar tcc</li>
                                    <li>Excluir tcc</li>
                                </ol>
                            </article>
                        </section>
                    </fieldset>       
                    <br><br>

                    <div class="botoes">
                        <button id="prof" class="botao"> <a href="" >Sou Professor</a></button>
                        <button id="aluno" class="botao"><a href="loginAluno/formularioLogin.html" class="botao">Sou Aluno</a></button>
                        <br><br>
                    </div><br><br>

                </div>
        
            </main>
        
            <footer class="footer-pagina constante">
                <h5>Desenvolvido por Fernanda Pinheiro, Kendra Rodrigues, Maria Eduarda Martins, Sabrina Pacini e Steicy Schirmann | 2022</h5>
            </footer>
        </div>
    </body>
</html>
