<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <title>Trabalho 2º Trimestre - TCC</title>
    </head>
    <body>

    <!-- Container da página inteira -->
        <div id="grid">

    <!-- Cabeçalho, contém o banner -->
            <header class="cabecalho-pagina constante">
                <div class="banner-img">
                    <figure>
                        <img src="../banner.png" alt="banner" width="100%">
                    </figure>
                </div>
        
            </header>
                
        <!-- Aside, contém menu lateral -->
            <aside class="constante">
                <nav >
                    <ul>
                        <li class="texto-escuro menu"><img src="../homeIcon.jpg" height="30" width="30">
                            <a class="active" href="../index.html">Início</a></li>
                        
                            <li class="texto-escuro menu"><img src="../userIcon.jpg" height="30" width="30">
                            <a href="logInAluno/formularioLogin.html" >Login</a></li>
    
                            <li class="texto-escuro menu"><img src="../cadastroUserIcon.jpg" height="30" width="30">
                            <a href="cadAluno/formularioCadastroAluno.html" >Cadastro de aluno</a></li>
    
                            <li class="texto-escuro menu"><img src="../maisIcon.jpg"height="30" width="30">
                            <a href="cadTrabalho/formularioCadastrarTrabalho.html" >Cadastro de Trabalho</a></li>
                    </ul>
                </nav>
            </aside>

    <!--Main, conteudo principal, específico a cada página-->         
            <main>     
                <h1 class="titulo-pagina">Cadastro de Trabalho</h1>
                <hr>
                <div class="main-pagina principal">
                    <br><br>
                    <form action="/cadastrarTrabalho" method="post">
                        
                        <fieldset>
                            <label for="tituloTrabalho">Título do Trabalho:</label><br>
                            <input type="text" name="tituloTrabalho" id="tituloTrabalho" size="100"><br><br>
                                
                            <label for="resumoTrabalho">Resumo:</label><br>
                            <textarea name="resumoTrabalho" id="resumoTrabalho" cols="100" rows="3"></textarea><br><br>
                                        
                            <label for="palavrasChave">Palavras-chave:</label><br>
                            <input type="text" name="palavrasChave" id="palavrasChave" size="70"><br><br>
                                        
                            <label for="linkTrabalho">Link:</label><br>
                            <input type="text" name="linkTrabalho" id="linkTrabalho" size="70"><br><br>   
                        </fieldset>
                        <br><br>

                        <div class="botoes">
                            <input type="reset" class="botao" name="cancelar" value="Cancelar">
                            <input type="submit" class="botao" name="salvar" value="Salvar">
                        </div>
                    </form>
                </div>
            </main>
        <!-- *************************** -->
            
            <footer class="footer-pagina constante">
                <h5>Desenvolvido por Fernanda Pinheiro, Kendra Rodrigues, Maria Eduarda Martins, Sabrina Pacini e Steicy Schirmann | 2022</h5>
            </footer>
        </div>
    </body>
</html>



